alias a='atom'

alias ap='ansible-playbook'

alias b='bundle'

alias bails='bundle exec rails'
alias bake='bundle exec rake'
alias bdmt='bundle exec rake db:migrate RAILS_ENV=test'
alias bdm='bundle exec rake db:migrate'
alias bdr='bundle exec rake db:reset'
alias bds='bundle exec rake db:setup'
alias be='bundle exec'
alias bg='bundle exec rails g'
alias bgco='bundle exec rails g controller'
alias bgmi='bundle exec rails g migrate'
alias bgmo='bundle exec rails g model'
alias bi='bundle install'
alias bl='bundle list'
alias bo='bundle open'
alias br='bundle exec rake routes'
alias brc='bundle exec rails c'
alias bs='bundle exec rails s'
alias bs1='bundle exec rails s -p 3001'
alias bs2='bundle exec rails s -p 3002'
alias bs3='bundle exec rails s -p 3003'
alias bs4='bundle exec rails s -p 3004'
alias bs5='bundle exec rails s -p 3005'
alias bu='bundle update'

alias ctags='/usr/local/Cellar/ctags/5.8/bin/ctags'

# alias done='echo "display notification \"Done!\" with title \"Command Execution\"" | osascript'

alias fs='foreman s'
alias fs1='foreman s -p 5001'
alias fs2='foreman s -p 5002'
alias fs3='foreman s -p 5003'
alias fs4='foreman s -p 5004'
alias fs5='foreman s -p 5005'

alias g='grep'
alias gph='git push heroku master'

alias hc='heroku config'
alias hcs='heroku config:set'
alias his='history 1'
alias hl='heroku logs'
alias hlt='heroku logs --tail'
alias hre='heroku restart'
alias hruc='heroku run console'
alias hrur='heroku run rake'
alias hrurdm='heroku run rake db:migrate'

alias ll='ls -al'
alias ls='ls -a'

alias m='mine .'
alias mkdir='mkdir -p'

alias pa='powder applog'
alias pl='powder log'
alias ps='ps aux'
alias po='powder open'
alias pox='powder open --xip'
alias pr='powder restart'

alias rc='rails c'
alias rdc='rake db:create'
alias rdi='rake db:import'
alias rdm='rake db:migrate'
alias rdmr='rake db:migrate:reset'
alias rdmt='rake db:migrate RAILS_ENV=test'
alias rdr='rake db:reset'
alias rds='rake db:setup'
alias rg='rails g'
alias rgco='rails g controller'
alias rgmi='rails g migration'
alias rgmo='rails g model'
alias rr='rake routes'
alias rrir='rake ridgepole:reset'
alias rria='rake ridgepole:apply'
alias rriad='rake ridgepole:apply:dry-run'
alias rs='rails s -b 0.0.0.0'
alias rs1='rails s -p 3001 -b 0.0.0.0'
alias rs2='rails s -p 3002 -b 0.0.0.0'
alias rs3='rails s -p 3003 -b 0.0.0.0'
alias rs4='rails s -p 3004 -b 0.0.0.0'
alias rs5='rails s -p 3005 -b 0.0.0.0'

# pecoでsshするalias
# http://qiita.com/d6rkaiz/items/46e9c61c412c89e84c38
alias s='ssh $(grep -iE "^host[[:space:]]+[^*]" ~/.ssh/config|peco|awk "{print \$2}")'

alias tn='terminal-notifier'

alias vh='vagrant halt'
alias vp='vagrant provision'
alias vr='vagrant reload'
alias vrs='vagrant rsync'
alias vrsa='vagrant rsync-auto'
alias vs='vagrant ssh'
alias vu='vagrant up'

alias zc='zeus console'
alias zdm='zeus rake db:migrate'
alias zg='zeus generate'
alias zr='zeus rake'
alias zs='zeus server'
alias zs1='zeus s -p 3001'
alias zs2='zeus s -p 3002'
alias zs3='zeus s -p 3003'
alias zs4='zeus s -p 3004'
alias zs5='zeus s -p 3005'
